node_modules
*.pyc
*.pyo
.env*
backend/api/accurate-436800-7ed6a0dbbaf7.json
backend/KampongSpeu_climate_data.xlsx
backend/~$KampongSpeu_climate_data.xlsx
*.xlsx
!BanteayMeanchey.xlsx
!Battambang.xlsx
!KampongCham.xlsx
!KampongChhnang.xlsx
!KampongSpeu.xlsx
!KampongThom.xlsx
!Kampot.xlsx
!Kandal.xlsx
!Kep.xlsx
!KohKong.xlsx
!Kratie.xlsx
!Mondulkiri.xlsx
!OddarMeanchey.xlsx
!Pailin.xlsx
!PhnomPenh.xlsx
!PreahVihear.xlsx
!PreyVeng.xlsx
!Pursat.xlsx
!Ratanakiri.xlsx
!SiemReap.xlsx
!Sihanoukville.xlsx
!StungTreng.xlsx
!SvayRieng.xlsx
!Takeo.xlsx
!TbongKhmum.xlsx
backend/api/g_credentials.json
