node_modules
*.pyc
*.pyo
.env*
backend/api/accurate-436800-7ed6a0dbbaf7.json
backend/KampongSpeu_climate_data.xlsx
backend/~$KampongSpeu_climate_data.xlsx
*.xlsx
!Battambang.xlsx
backend/api/g_credentials.json
backend/.ebextensions/01_environment.config
backend/tests/test_deployment.py
backend-deploy.zip
backend/tests/local_test.py
backend/tests/run_celery.py
